

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table.cpuRam th {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  width: 20px;
  cursor: pointer;
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
canvas#pixelCanvas {
  width: 512px;
}

.contCpuRam{
  overflow-y: auto;
  height: 800px;
  width: 400px;
}

p{

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;

}
